<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="Log4net" type="Log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <Log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
    </root>
    <appender name="LogFileAppender" type="Log4net.Appender.RollingFileAppender">
      <param name="File" value="C:\FBNBOX\TBGReportUpload\TBGReportUpload\Logs\\TBGReportUpload.Log" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="Log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-5p%d{yyyy-MM-dd hh:mm:ss} – %m%n" />
      </layout>
    </appender>
  </Log4net>
</configuration>
